body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #cfe1ff, #60bfff, #9bd4ff, #0b85ff);
  background-size: 600% 600%;
  animation: gradient 8s ease infinite;
  height: 100vh;
  margin: 0;
}

/* グラデーションのアニメーション */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  25% { background-position: 100% 50%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0% 100%; }
  100% { background-position: 0% 50%; }
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

input[type="text"], button {
  width: 230px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
 width: auto;
  background-color: #add8e6;
  cursor: pointer;
}

button:hover {
  background-color: #87ceeb;
}

.url-list {
  margin-top: 20px;
}

.url-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f8ff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.url-item a {
  flex-grow: 1;
  text-decoration: none;
  color: #1e90ff;
}

.url-item a:hover {
  text-decoration: underline;
}

.url-item span {
  padding-right: 60px;
}

.memo-input {
  width: 40%;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}


/* 他のスタイルはそのまま */

.highlight {
  animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
  from { background-color: #ffcccc; }
  to { background-color: transparent; }
}

button {
  width: auto;
  background-color: #add8e6;
  cursor: pointer;
  transition: transform 0.3s ease; /* スムーズな変化を加える */
}

button:hover {
  background-color: #87ceeb;
  transform: scale(1.2); /* 10%大きくなる */
}
