body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

input[type="text"], button {
  width: 230px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
 width: auto;
  background-color: #add8e6;
  cursor: pointer;
}

button:hover {
  background-color: #87ceeb;
}

.url-list {
  margin-top: 20px;
}

.url-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f8ff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.url-item a {
  flex-grow: 1;
  text-decoration: none;
  color: #1e90ff;
}

.url-item a:hover {
  text-decoration: underline;
}

.url-item span {
  padding-right: 60px;
}

.memo-input {
  width: 40%;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}


/* 他のスタイルはそのまま */

.highlight {
  animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
  from { background-color: #ffcccc; }
  to { background-color: transparent; }
}
